body{
	background-image: url(beach4.jpg);	
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
	background-opacity: 30;
}

.login{
	background-color: rgba(0,0,0,0.4);
	font-size: 25px;
	color: rgb(255,215, 0);
	width: 35%;
	border: 2px solid rgb(218,165,32);
	float: left;
	margin-top: 10%;
	margin-left: 35%;
}

.login img{
	border: 2px solid rgb(218,165,32);
	border-radius: 100px;
}

input{
	width: 30%;
	height: 20px;
}

.welcome{
	background-color: rgba(0,0,0,0.4);
	border: 2px solid rgb(218,165,32);
	width: 60%;
	margin-top: 10%;
	margin-left: 20%;
	text-align: center;
}